
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>
<div class="course">   
    <ul>
        @foreach (var course in Model)
        {
                <li>
                    @course.Followee.Name
                </li>
        }
    </ul>
</div>
